<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login / Registration</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div id="info">
      <h2>Login / Sign up form</h2><br>
      Click the "Sign Up" button to view the registration form.<br /><br />
    </div>
    <div id="container">
      <!-- Cover Box -->
      <div id="cover">
        <!-- Sign Up Section -->
        <h1 class="sign-up">Hello, Friend!</h1>
        <p class="sign-up">
          Enter your personal details<br /> and start a journey with us
        </p>
        <a class="button sign-up" href="#cover">Sign Up</a>
        <!-- Sign In Section -->
        <h1 class="sign-in">Welcome Back!</h1>
        <p class="sign-in">
          To keep connected with us please<br /> login with your personal info
        </p>
        <br />
        <a class="button sub sign-in" href="#">Sign In</a>
      </div>
      <!-- Login Box -->
      <div id="login">
        <h1>Sign In</h1>
        <a href="#"><img class="social-login" src="https://image.flaticon.com/icons/png/128/59/59439.png"></a>
        <a href="#"><img class="social-login" src="https://image.flaticon.com/icons/png/128/49/49026.png"></a>
        <a href="#"><img class="social-login" src="https://image.flaticon.com/icons/png/128/34/34227.png"></a>
        <p>or use your email account:</p>
        <form action="/landing" method="get">
          <input type="email" placeholder="Email" autocomplete="off" /><br />
          <input type="password" placeholder="Password" autocomplete="off" /><br />
          <a id="forgot-pass" href="#">Forgot your password?</a><br />
          <input class="submit-btn" type="submit" value="Sign In" />
        </form>
      </div>
      <!-- Register Box -->
      <div id="register">
        <h1>Create Account</h1>
        <a href="#"><img class="social-login" src="https://image.flaticon.com/icons/png/128/59/59439.png"></a>
        <a href="#"><img class="social-login" src="https://image.flaticon.com/icons/png/128/49/49026.png"></a>
        <a href="#"><img class="social-login" src="https://image.flaticon.com/icons/png/128/34/34227.png"></a>
        <p>or use your email for registration:</p>
        <form action="/landing" method="get">
          <input type="text" placeholder="Name" autocomplete="off" /><br />
          <input type="email" placeholder="Email" autocomplete="off" /><br />
          <input type="password" placeholder="Password" autocomplete="off" /><br />
          <input class="submit-btn" type="submit" value="Sign In" />
        </form>
      </div>
    </div>
    <div id="loading-animation">
      <div class="spinner"></div>
    </div>
    
    <script>
      window.addEventListener('load', function() {
        var loadingAnimation = document.getElementById('loading-animation');
        loadingAnimation.classList.add('loaded');
      });
    </script>
    <!-- END Container -->

    <!-- Add JavaScript file reference here -->
    <script src="/static/script.js"></script>
  </body>
</html>
